<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/theme.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>JBlog</title>
</head>
<body>
<div class="head_box">
    <div class="text_box">
        <h1 th:text="${ blog.title }"></h1>
        <p th:text="${ blog.tag }"></p>
        <div class="link_box">
            <span><a th:href="@{/logout}">로그아웃</a></span>
            <span><a th:href="@{/blog/main(blogId=${ blog.blogId })}">내 블로그 메인</a></span>
        </div>
    </div>
</div>
<br>
<div class="content_box">
    <div class="setting_menu_box">
        <a th:href="@{/blog/admin(blogId=${ blog.blogId })}">기본설정</a>&nbsp;
        <a th:href="@{/blog/admin/category(blogId=${ blog.blogId })}">카테고리</a>&nbsp;
        <a th:href="@{/blog/admin/post(blogId=${ blog.blogId })}">글작성</a>
        <a th:href="@{/blogDeleteRequest(blogId=${ blog.blogId })}">삭제요청</a>
    </div>
    <br>
    <form action="/update/blog" method="post">
        <table>
            <input id="blogId" name="blogId" th:value="${ blog.blogId }" type="hidden"/>
            <tr>
                <th>블로그 제목 :</th>
                <td>
                    <input id="title_input" type="text" name="title" th:value="${ blog.title }">
                </td>
            </tr>
            <tr>
                <th>블로그 태그 :</th>
                <td>
                    <input id="tag_input" type="text" name="tag" th:value="${ blog.tag }">
                </td>
            </tr>
            <tr>
                <th>메인페이지 포스트 :</th>
                <td>
                    <input id="cnt_input" type="text" readonly name="cntDisplayPost" th:value="${ blog.cntDisplayPost }">
                </td>
            </tr>
            <tr>
                <th>로고이미지 :</th>
                <td>
                    <img id="table_logo_img" th:src="@{/images/j2eelogo.jpg}" alt="로고"/>
                </td>
            </tr>
        </table>
        <div class="submit_btn">
            <input id="submit_btn" type="submit" value="확인"/>
        </div>
    </form>
</div>
<div class="footer">
    <br><br>
    <p>Spring Stories is powered by JBlog</p>
</div>
</body>
</html>